<article class="container">
    <header class="container_header">
        <h2>Lorem ipsum dolor sit amet.</h2>
    </header>
    
    <div class="container_box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente labore veniam asperiores dolores placeat, voluptate maiores nulla debitis quis, fugit vero. Ab quas sed exercitationem perferendis odio alias soluta cupiditate illo iure, officia, veniam doloribus, consequuntur ex necessitatibus ea beatae. Unde eum quisquam omnis perspiciatis recusandae asperiores esse officiis. Nisi.
    </div>
</article>